<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>102.213.183.89</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/IMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AttachDBConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=AttachDB;Integrated Security=True;Connect Timeout=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AttachDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=AttachDB;Integrated Security=True;MultipleActiveResultSets=True; Connection Timeout=300;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IMSAccConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=IMS-DB;Integrated Security=True;Persist Security Info=True;Connect Timeout=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IMSAccConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.; Initial Catalog=IMS-DB; Integrated Security=SSPI; MultipleActiveResultSets=True; Persist Security Info=True; Connection Timeout=300;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CIMSDBConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=IMS-DB;Integrated Security=True;Persist Security Info=True;Connect Timeout=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CIMSDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data source=.; initial catalog=IMS-DB; Integrated Security=SSPI; MultipleActiveResultSets=True; Persist Security Info=True; Connection Timeout=300;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IMS-DBConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=IMS-DB;Integrated Security=True;Persist Security Info=True;Connect Timeout=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IMS-DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=IMS-DB;Integrated Security=True;Persist Security Info=True;MultipleActiveResultSets=True; Connection Timeout=300;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IMSDBConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=IMS-DB;Integrated Security=True;Persist Security Info=True;Connect Timeout=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IMSDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data source=.;initial catalog=IMS-DB; Integrated Security=SSPI; MultipleActiveResultSets=True; Persist Security Info=True; Connection Timeout=300;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AttachConString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=AttachDB;Integrated Security=True;Connect Timeout=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AttachConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=AttachDB;Integrated Security =SSPI;MultipleActiveResultSets=True; Connection Timeout=300;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AttachDB" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=AttachDB;Integrated Security=True;Connect Timeout=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AttachDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=AttachDB;Integrated Security = SSPI;MultipleActiveResultSets=True; Connection Timeout=300;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AttachConString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AttachDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AttachDBConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CIMSDBConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IMS-DBConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IMSAccConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IMSDBConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>